.pl {
    background-color: rgb(0, 81, 255);
    color: rgb(255, 255, 255);

    text-align: center;

    font-size: 30px;
    margin-top: 6vh;
    margin-bottom: 20px;
}

.informacao1 iframe{
    margin: auto;
    display: block;
}
html{
    scroll-behavior: smooth;
}

.par {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

.section {
    background-color: rgba(240, 236, 232, 0.295);
    border-bottom-left-radius:10px;
    border-bottom-right-radius: 10px;
}
