@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html body{
    font-family: 'Roboto', sans-serif;
}
html{
    scroll-behavior: smooth;
}

form{
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.login-matricula{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-matricula input{
    border: none;
    outline: none;
    width: 7cm;
    border-bottom: 1px solid gray;
    font-size: 15pt;
    height: 1cm;
    padding-top: -1px;

}
.login-matricula button{
    border: none;
    width: 7cm;
    height: 1cm;
    
}
.login-matricula button:hover{
    border: solid 1px black;
}